<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/images.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,300;1,400&display=swap"
        rel="stylesheet">

    <title>Product-categories</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark ">
        <a class="navbar-brand" href="#">Kitchenking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <div class="form_box">
                    <form class="form-inline ">
                        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                        <button class="btn-form" type="submit">Search</button>
                    </form>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'cart' %}"><i class="ion-ios-cart">&colon;</i></a><span class="cart-value">0</span></li>
                <li><p class="user">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Hi,<span class="firstname">{% if request.user %}{{request.user}}
                        </button>
                        <div class="dropdown-menu m-0 p-0" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <a class="dropdown-item" href="#">Orders</a>
                            <a class="dropdown-item" href="#">Gifts Card</a>
                            <a class="dropdown-item" href="#">Your Response</a>
                            <a class="dropdown-item" href="#">payments</a>
                            <a class="dropdown-item" href="#">notifications</a>
                            <a class="dropdown-item" href="#">24*7 customer care</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                        </div>
                        {% else %}user{% endif %}</span>
                        </div></p>
                </li>
            </ul>


        </div>


        </div>
    </nav>
    <section class="itempage">

        <div class="row">
            <div class="col span-1-of-2">
                <div class="sidenav">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Bakeware
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Moulds & tins</a>
                            <a class="dropdown-item" href="#">Dishes</a>
                            <a class="dropdown-item" href="#">Tools & Accesories</a>
                            <a class="dropdown-item" href="#">Mixing Bowls</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Cookware
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Couldrons</a>
                            <a class="dropdown-item" href="#">chafing Dishes</a>
                            <a class="dropdown-item" href="#">Egg pochers</a>
                            <a class="dropdown-item" href="#">fish pochers</a>
                            <a class="dropdown-item" href="#">fondue</a>
                            <a class="dropdown-item" href="#">lids</a>
                            <a class="dropdown-item" href="#">pots & pans</a>
                            <a class="dropdown-item" href="#">tajines</a>
                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gas Stoves
                            </button>


                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Storage & container
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Shakers</a>
                                <a class="dropdown-item" href="#">Garbage bins</a>
                                <a class="dropdown-item" href="#">Jars & containers</a>
                                <a class="dropdown-item" href="#">Lunch boxes</a>
                                <a class="dropdown-item" href="#">Storsge Bags</a>
                                <a class="dropdown-item" href="#">Racks & Holder</a>
                                <a class="dropdown-item" href="#">thermo & vaccum flask</a>
                                <a class="dropdown-item" href="#">water bottels</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kitchen Tools
                            </button>

                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tableware
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Cultery & Flatware</a>
                                <a class="dropdown-item" href="#">Garbage bins</a>
                                <a class="dropdown-item" href="#">DinnerWare</a>
                                <a class="dropdown-item" href="#">Serving pieces </a>
                                <a class="dropdown-item" href="#">Glassware</a>
                                <a class="dropdown-item" href="#">Drinkware</a>
                                <a class="dropdown-item" href="#">Kitchen linen</a>

                            </div>
                        </div>

                    </div>


                </div>
                <canvas class="background"></canvas>
                <div class="col span-1-of-2  item-details">
                    <div class="row items">
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/img2.jpg' %}" alt="">
                            <p class="item-name">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs (18 cm.)</p>
                            <p class="item-price"> ‎₹‎<span class="rupees">100</span></p>
                        </div>
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/61XrzpMZvBL._SL1500_.jpg' %}" alt="">
                            <p class="item-name">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs (18 cm.)</p>
                            <p class="item-price"> ‎₹<span class="rupees">100</span></p>
                        </div>
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/img5.jpg' %}" alt="">
                            <p class="item-name">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs (18 cm.)</p>
                            <p class="item-price"> ‎₹‎<span class="rupees">100</span></p>
                        </div>

                    </div>
                    <div class="row items">
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/img5.jpg' %}" alt="">
                            <p class="item-name">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs (18 cm.)</p>
                            <p class="item-price"> ‎₹‎<span class="rupees">100</span></p>
                        </div>
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/img5.jpg' %}" alt="">
                            <p class="item-name">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs (18 cm.)</p>
                            <p class="item-price"> ‎₹‎<span class="rupees">100</span></p>
                        </div>
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/img5.jpg' %}" alt="">
                            <p class="item-name">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs (18 cm.)</p>
                            <p class="item-price"> ‎₹‎<span class="rupees">100</span></p>
                        </div>

                    </div>
                    <div class="row items">
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/img5.jpg' %}" alt="">
                            <p class="item-name">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs (18 cm.)</p>
                            <p class="item-price"> ‎₹‎<span class="rupees">100</span></p>
                        </div>
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/img5.jpg' %}" alt="">
                            <p class="item-name">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs (18 cm.)</p>
                            <p class="item-price"> ‎₹‎<span class="rupees">100</span></p>
                        </div>
                        <div class="col span-1-of-3 box">
                            <img src="{% static 'home/css/img/img5.jpg' %}" alt="">
                            <p class="item-name"><a href="#">Shapes White Dot Stainless Steel Soup Spoon, Set of 12 Pcs
                                    (18 cm.)</a></p>
                            <p class="item-price"> ‎₹‎<span class="rupees"> 100</span></p>
                        </div>

                    </div>
                    <div class="change-page-btn">
                        <button class="back" type="button"><i class="ion-arrow-left-b"></i></button>
                        <button class="count-page" type="button"><span class="count">1</span></button>
                        <button class="next" type="button"><i class="ion-arrow-right-b"></i></button>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">privacy/ploicy</a></li>
                    <li><a href="#">Terms & condition</a></li>
                </ul>

            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href=""><i class="ion-social-facebook"></i></a></li>
                    <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    <li><a href=""><i class="ion-social-instagram"></i></a></li>
                    <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="footerP">
                Copyright <span>&copy;</span> 2020 by Kitchenking. All Right Reseverd.
            </p>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <script src="{% static 'js/imagepage.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>